<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: chartreuse;
            text-align: center;
        }
        
    </style>
</head>
<body>
    <h1>Index Faqja</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, vitae voluptas nesciunt alias eius velit. Eius in quam esse animi ducimus, cumque dolorum iure explicabo veniam eos, perferendis architecto iste!</p>
</body>
</html>